<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <base href="/">
    <link rel='stylesheet' type='text/css' href='css/app.css'>
    <script src="js/app.js"></script>
    <title>Photo Gallery</title>
  </head>
  <body>
    <ul id="navbar">
      <li>
        <a href="/">PhotoGallery<i class="bi bi-x"></i></a>
      </li>
      <li>
        <a href="/">Go Back</a>
      </li>
    </ul>
    <div class="main"> 
      <div class="header">
        <h1> 404 NOT FOUND</h1>
        <p>The page you are trying to access does not exist or has been taken down.</p>
      </div>
    </div>
    <div class="footer">
      <p>Copyright @ RitvikSingh - All rights reserved</p>
    </div>
  </body>
  </html>