<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <link rel='stylesheet' href='/css/app.css'>
    <title>Photo Gallery</title>
  </head>
  <body class="register">
    <ul id="navbar">
        <li>
          <a href="/">PhotoGallery</a>
        </li>
        <li>
          <a href="/">Back to Home</a>
        </li>
        <% if(user && user.loggedin) {%>
            <li>
              <a href="/login?action=logout" id="logout">logout</a>
            </li>
          <% } else {%>
            <li>
              <a href="/register">Register</a>
            </li>
            <li>
              <a href="/login">Login</a>
            </li>
            <% }%>
        </ul>
      <div class="form-register">
        <div class="header">
            <h1>Register</h1>
            <p>Create an account to get started.</p>
        </div>
        <div class="formContainer">
            <form action="register" method="POST">
                <div class="row">
                    <div class="col-25">
                        <label for="userName">Name</label>
                    </div>
                    <div class="col-75">
                        <input type="text" name="userName" placeholder="Enter Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="userEmail">Email</label>
                    </div>
                    <div class="col-75">
                        <input type="email" name="userEmail" placeholder="Enter Email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="userPassword1">Password</label>
                    </div>
                    <div class="col-75">
                        <input type="password" name="userPassword1" placeholder="Enter Password">
                    <span id="chkPwd"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="userPassword2">Confirm Password</label>
                    </div>
                    <div class="col-75">
                        <input type="password" name="userPassword2" placeholder="Enter Password Again">
                    </div>
                    <div id="registerMsg">
                        <% if(msg){ %>
                            <span>
                                <%= msg %> 
                            </span>
                        <% } %>                
                        <% if(msg && login){ %>
                            <a href="/login">Login</a> instead?
                        <% }; %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">

                    </div>
                    <div class="col-75">
                        <input type="submit" value="Register">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="footer">
        <p>Copyright @ RitvikSingh - All rights reserved</p>
      </div>
  </body>
</html>